* {
    box-sizing: border-box;
}


body {
    margin: 0;
    padding: 0;
    height: 100%;
}


.content{
    width: 100%;
    height: 100%;
    padding-left: 20%;
    padding-right: 20%;
    position: fixed;
    font-family: 'Roboto Slab', serif;
}

.chatBox{
    /*    display: flex;
        flex-direction: column;
        flex-wrap: wrap;*/
    width: 100%;
    height: 100%;
    border: 1px solid black;
    /*justify-content: center;*/
}



.headPart{
    display: flex;
    align-items: center;
    height: 10%;
    width: 100%;
    padding: 10px 10px;
    border-bottom:  1px solid black;
    background-color: rgb(42,47,50);
    color: white;
}

.PhotographerImg{

    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.ChatArea{
    height: 80%;
    display: flex;
    flex-direction: column;
    background-color: rgb(205,205,194);
}

.content-wrapper{
    display: flex;
    flex: 1;
    min-height: 0px; 
}

.overflow-container{
    flex: 1;
    overflow: auto;

}

.message{
    display: inline-block;
    width: 100%;
    margin-top: 5px;
}

.messageText{

    padding: 10px 15px;
    border-radius: 20px;
    background-color:  RGB(38,45,49);
    border: none;
    outline: none;
    color: white;
}

.footerPart{
    height: 10%;
    background-color: rgb(30,36,40);
    display: flex;
    align-items: center;
    justify-content: center;
}

.messageSendText{
    margin: auto;
    padding: 10px 15px;
    border-radius: 20px;
    background-color:  RGB(51,56,59);
    width: 80%;
    border: none;
    outline: none;
    color: white;
}