/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 24, 2020, 11:42:28 PM
    Author     : Madusha
*/

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1);
    margin: 20px;
    text-align: center;
    color: #ddd;
    font-size: 14px;
    background-color: #f1f1f1;
    max-height: 1000px;
    background-color:rgba(0,0,0,0.6);
  }
  
   .column {
    float: right;   
    width: 48%;
    padding: 0 7px;
  }
  
  .row {margin: 0 -1px;}
  
  input[type=text], input[type=password] {
  width: 80%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus {
  background-color: #ddd;
  outline: none;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 50%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}


.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}


.cancelbtn, .acceptbtn {
  float: left;
  width: 50%;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}


@media screen and (max-width: 300px) {
  .cancelbtn, .acceptbtn {
    width: 100%;
  }
}