/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 15, 2020, 9:13:49 AM
    Author     : Madusha
*/

body{
    font-family: "Trebuchet MS";
}

.table_top{
    background-color: white;
    font-family: "Trebuchet MS";
    color: black;
    border-radius: 5px;
}

.button{
    background-color: white;
    cursor: pointer;
    font-family: "Trebuchet MS";
    color:midnightblue;
    font-weight: 400;
    font-size:18px;
    font-style: normal;
    padding: 15px 32px;
    border: none ;
}

.button:hover{
    background-color: gray;
    border-radius: 15px;
}

.hilight{
    background-color: #81BDC5;
    font-family: "Trebuchet MS";
    color: darkblue;
    font-weight: 400;
    font-size:18px;
    font-style: normal;
    padding: 15px 32px;
    border: none ;
    border-radius: 15px;
    
}

.index{
    border-radius: 15px;
    background-color:white;
    opacity: 0.85;
    margin-top: 80px;
    color:black;
    text-align:center;
}
.cardimg{
    position: relative;
    max-width:300px;
    max-height: 100px;
    display: block;
    height: auto;
    width: auto;
    margin-left:150px;
    
}

 .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1);
    margin: 20px;
    text-align: center;
    color: #ddd;
    font-size: 14px;
    background-color: #f1f1f1;
    max-height: 500px;
    background-color:rgba(0,0,0,0.6);
  }
  
   .column {
    float: right;   
    width: 32%;
    padding: 0 7px;
  }
  
  .row {margin: 0 -1px;}
  
  .btn2{
    background-color: rgb(46, 43, 43);
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 250px;
    opacity: 0.9;
    margin-top: 6px;
    margin-bottom: 6px;
    border-radius: 10px;
  }

.column2 {
    float: left;   
    width: 32%;
    padding: 0 7px;
  }
  
.confirmBTN{
	background-color: #4169E1;
	border: none;
	color: white;
	padding: 6px 12px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 12px;
	padding-left:10px;
}

