
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    /*flex-wrap: wrap;*/
}

.main-content {
    border-top: 4px solid #2196F3;
    margin-left: 16%;
    width: 100%;
    height: 0%;
    padding: 0%;
}


.side-nav {
    float: left;
    background-color: #fff;
    /*border-right: 4px solid #cc7106;*/
    padding: 2% 0%;
    width: 20%;
    height: 100%;
    text-align: center;
    position: fixed;
    display: flex;
    flex-direction: column;
    border-top: 4px solid #cc7106;
    /*flex-wrap: wrap;*/
}

.side-nav a {
    outline: none;
    /*    height: 30%;
        width: 30%;*/
}

.side-nav a img {
    outline: none;
    /*height: 9%;*/
    width: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15%;
}

.side-nav .notification {
    margin-top: 2%;
    display: flex;
    /*flex-wrap: wrap;*/
    justify-content: space-around;
    align-items: center;
    text-align: center;
    /*text-align: center;*/
    margin-left: 10%;
    /*display: felx;*/
    padding: 0%;
    height: 45px;
}

.side-nav .notification img {
    height: 100%;
    width: 16%;
    padding: 0% 5.5% 1% 4%;
    /*margin-top: 0%;*/
    /*float: left;*/
    /*margin-left:15%;*/ 
    /*padding-right: 3%;*/
    /*color: blue;*/
    /*fill:white;*/
    /*background: red;*/

}

.side-nav  .notification p  {
    /*margin-top: 0%;*/
    margin: auto;
    margin-left: 0;
    /*    font-family: 'Poppins', sans-serif;
        font-size: 130%;*/
    /*float: left;*/
    /*background: red;*/

}

.side-nav  .notification p a{
    font-family: 'Lato', sans-serif;
    font-size: 110%;
    text-decoration: none;
    color: black;
}

.side-nav .notification:hover {
    /*filter:  invert(100%) sepia(0%) saturate(7452%) hue-rotate(252deg) brightness(105%) contrast(99%);*/
    /*background-image: url('../..//Resources/Img/notify-white.svg');*/
    /*color: white;*/
    background: #2196F3;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    /*height: 5%;*/
    /*color: white;*/

}

.side-nav .photomanage {
    margin-top: 5%;
    display: flex;
    /*flex-wrap: wrap;*/
    justify-content: space-around;
    align-items: center;
    text-align: center;
    /*text-align: center;*/
    margin-left: 10%;
    /*display: felx;*/
    padding: 0%;
    height: 45px;
}

.side-nav .photomanage img {
    height: 100%;
    width: 17%;
    padding: 0% 5.5% 1% 4%;
    /*margin-top: 0%;*/
    /*float: left;*/
    /*margin-left:15%;*/ 
    /*padding-right: 3%;*/
    /*color: blue;*/
    /*fill:white;*/
    /*background: red;*/

}

.side-nav  .photomanage p  {
    /*margin-top: 0%;*/
    margin: auto;
    margin-left: 0;
    /*    font-family: 'Poppins', sans-serif;
        font-size: 130%;*/
    /*float: left;*/
    /*background: red;*/

}

.side-nav  .photomanage p a{
    font-family: 'Lato', sans-serif;
    font-size: 110%;
    text-decoration: none;
    color: black;
}

.side-nav .photomanage:hover {
    /*filter:  invert(100%) sepia(0%) saturate(7452%) hue-rotate(252deg) brightness(105%) contrast(99%);*/
    /*background-image: url('../..//Resources/Img/notify-white.svg');*/
    /*color: white;*/
    background: #2196F3;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    /*height: 5%;*/
    /*color: white;*/

}

.side-nav .photoapproval {
    margin-top: 5%;
    display: flex;
    /*flex-wrap: wrap;*/
    justify-content: space-around;
    align-items: center;
    text-align: center;
    /*text-align: center;*/
    margin-left: 10%;
    /*display: felx;*/
    padding: 0%;
    height: 45px;
}

.side-nav .photoapproval img {
    height: 100%;
    width: 13%;
    padding: 0% 8.5% 1% 5%;
    /*margin-top: 0%;*/
    /*float: left;*/
    /*margin-left:15%;*/ 
    /*padding-right: 3%;*/
    /*color: blue;*/
    /*fill:white;*/
    /*background: red;*/

}

.side-nav  .photoapproval p  {
    /*margin-top: 0%;*/
    margin: auto;
    margin-left: 0;
    /*    font-family: 'Poppins', sans-serif;
        font-size: 130%;*/
    /*float: left;*/
    /*background: red;*/

}

.side-nav  .photoapproval p a{
    font-family: 'Lato', sans-serif;
    font-size: 110%;
    text-decoration: none;
    color: black;
}

.side-nav .photoapproval:hover {
    /*filter:  invert(100%) sepia(0%) saturate(7452%) hue-rotate(252deg) brightness(105%) contrast(99%);*/
    /*background-image: url('../..//Resources/Img/notify-white.svg');*/
    /*color: white;*/
    background: #2196F3;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    /*height: 5%;*/
    /*color: white;*/

}

.side-nav .forum {
    margin-top: 5%;
    display: flex;
    /*flex-wrap: wrap;*/
    justify-content: space-around;
    align-items: center;
    text-align: center;
    /*text-align: center;*/
    margin-left: 10%;
    /*display: felx;*/
    padding: 0%;
    height: 45px;
}

.side-nav .forum img {
    height: 100%;
    width: 17%;
    padding: 0% 6% 1% 4%;
    /*margin-top: 0%;*/
    /*float: left;*/
    /*margin-left:15%;*/ 
    /*padding-right: 3%;*/
    /*color: blue;*/
    /*fill:white;*/
    /*background: red;*/

}

.side-nav  .forum p  {
    /*margin-top: 0%;*/
    margin: auto;
    margin-left: 0;
    /*    font-family: 'Poppins', sans-serif;
        font-size: 130%;*/
    /*float: left;*/
    /*background: red;*/

}

.side-nav  .forum p a{
    font-family: 'Lato', sans-serif;
    font-size: 110%;
    text-decoration: none;
    color: black;
}

.side-nav .forum:hover {
    /*filter:  invert(100%) sepia(0%) saturate(7452%) hue-rotate(252deg) brightness(105%) contrast(99%);*/
    /*background-image: url('../..//Resources/Img/notify-white.svg');*/
    /*color: white;*/
    background: #2196F3;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    /*height: 5%;*/
    /*color: white;*/

}

.side-nav .user {
    margin-top: 5%;
    display: flex;
    /*flex-wrap: wrap;*/
    justify-content: space-around;
    align-items: center;
    text-align: center;
    /*text-align: center;*/
    margin-left: 10%;
    /*display: felx;*/
    padding: 0%;
    height: 45px;
}

.side-nav .user img {
    height: 100%;
    width: 17%;
    padding: 0% 5.5% 1% 5%;
    /*margin-top: 0%;*/
    /*float: left;*/
    /*margin-left:15%;*/ 
    /*padding-right: 3%;*/
    /*color: blue;*/
    /*fill:white;*/
    /*background: red;*/

}

.side-nav  .user p  {
    /*margin-top: 0%;*/
    margin: auto;
    margin-left: 0;
    /*    font-family: 'Poppins', sans-serif;
        font-size: 130%;*/
    /*float: left;*/
    /*background: red;*/

}

.side-nav  .user p a{
    font-family: 'Lato', sans-serif;
    font-size: 110%;
    text-decoration: none;
    color: black;
}

.side-nav .user:hover {
    /*filter:  invert(100%) sepia(0%) saturate(7452%) hue-rotate(252deg) brightness(105%) contrast(99%);*/
    /*background-image: url('../..//Resources/Img/notify-white.svg');*/
    /*color: white;*/
    background: #2196F3;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    /*height: 5%;*/
    /*color: white;*/

}

.side-nav .summary {
    margin-top: 2%;
    display: flex;
    /*flex-wrap: wrap;*/
    justify-content: space-around;
    align-items: center;
    text-align: center;
    /*text-align: center;*/
    margin-left: 10%;
    /*display: felx;*/
    padding: 0%;
    height: 45px;
}

.side-nav .summary  img {
    height: 100%;
    width: 17%;
    padding: 0% 5.5% 1% 4%;
    /*margin-top: 0%;*/
    /*float: left;*/
    /*margin-left:15%;*/ 
    /*padding-right: 3%;*/
    /*color: blue;*/
    /*fill:white;*/
    /*background: red;*/

}

.side-nav  .summary  p  {
    /*margin-top: 0%;*/
    margin: auto;
    margin-left: 0;
    /*    font-family: 'Poppins', sans-serif;
        font-size: 130%;*/
    /*float: left;*/
    /*background: red;*/
    padding: 0%;

}

.side-nav  .summary  p a{
    font-family: 'Lato', sans-serif;
    font-size: 110%;
    text-decoration: none;
    color: black;
}

.side-nav .summary:hover {
    /*filter:  invert(100%) sepia(0%) saturate(7452%) hue-rotate(252deg) brightness(105%) contrast(99%);*/
    /*background-image: url('../..//Resources/Img/notify-white.svg');*/
    /*color: white;*/
    background: #2196F3;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    cursor: pointer;


}


.side-nav .logout {
    margin-top:2%;
    display: flex;
    /*flex-wrap: wrap;*/
    justify-content: space-around;
    align-items: center;
    text-align: center;
    /*text-align: center;*/
    margin-left: 10%;
    /*display: felx;*/
    padding: 0%;
    height: 45px;
}

.side-nav .logout  img {
    height: 100%;
    width: 14%;
    padding: 0% 6.5% 1% 7%;
    /*margin-top: 0%;*/
    /*float: left;*/
    /*margin-left:15%;*/ 
    /*padding-right: 3%;*/
    /*color: blue;*/
    /*fill:white;*/
    /*background: red;*/

}

.side-nav  .logout  p  {
    /*margin-top: 0%;*/
    margin: auto;
    margin-left: 0;
    /*    font-family: 'Poppins', sans-serif;
        font-size: 130%;*/
    /*float: left;*/
    /*background: red;*/
    padding: 0%;

}

.side-nav  .logout  p a{
    font-family: 'Lato', sans-serif;
    font-size: 110%;
    text-decoration: none;
    color: black;
}

.side-nav .logout:hover {
    /*filter:  invert(100%) sepia(0%) saturate(7452%) hue-rotate(252deg) brightness(105%) contrast(99%);*/
    /*background-image: url('../..//Resources/Img/notify-white.svg');*/
    /*color: white;*/
    background: #2196F3;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    cursor: pointer;


}

.side-nav .setting {
    margin-top:2%;
    display: flex;
    /*flex-wrap: wrap;*/
    justify-content: space-around;
    align-items: center;
    text-align: center;
    /*text-align: center;*/
    margin-left: 10%;
    /*display: felx;*/
    padding: 0%;
    height: 45px;
}

.side-nav .setting  img {
    height: 100%;
    width: 14%;
    padding: 0% 6.5% 1% 7%;
    /*margin-top: 0%;*/
    /*float: left;*/
    /*margin-left:15%;*/ 
    /*padding-right: 3%;*/
    /*color: blue;*/
    /*fill:white;*/
    /*background: red;*/

}

.side-nav  .setting  p  {
    /*margin-top: 0%;*/
    margin: auto;
    margin-left: 0;
    /*    font-family: 'Poppins', sans-serif;
        font-size: 130%;*/
    /*float: left;*/
    /*background: red;*/
    padding: 0%;

}

.side-nav  .setting  p a{
    font-family: 'Lato', sans-serif;
    font-size: 110%;
    text-decoration: none;
    color: black;
}

.side-nav .setting:hover {
    /*filter:  invert(100%) sepia(0%) saturate(7452%) hue-rotate(252deg) brightness(105%) contrast(99%);*/
    /*background-image: url('../..//Resources/Img/notify-white.svg');*/
    /*color: white;*/
    background: #2196F3;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    cursor: pointer;
}

.heading {
    margin-left: 5%;
    /*    background: red;
        height: 0%;
        padding: 0%;
        margin-top: 0%;*/
}

.heading h1 {
    font-family: 'Didact Gothic', sans-serif;
    font-size: 250%;
}

.chart-photo {
    /*margin-left: -8%;*/
    /*margin-top: 8%;*/  
    display: flex;
    flex-wrap: wrap;
    /*width: 80%;*/
    /*height:0%;*/
    padding: 0%;
    align-content: space-around;
    justify-content: center;

}

.upload-for-review{
    flex: 0.5;
    background-color: #fff;
    border-radius: 10px;
    padding:5% 0% 5% 0%;
    box-shadow: 0 5px 8px rgba(12,13,14,0.15); 
    margin: 1%;
    margin-bottom: 5%;
}

.approved-photos{
    flex: 0.5;
    background-color: #fff;
    border-radius: 10px;
    padding:5% 0% 5% 0%;
    box-shadow: 0 5px 8px rgba(12,13,14,0.15); 
    margin: 1%;
    margin-bottom: 5%;
    /*margin-left: 12%;*/
}

.rejected-photos{
    flex: 0.5;
    background-color: #fff;
    border-radius: 10px;
    padding:5% 0% 5% 0%;
    box-shadow: 0 5px 8px rgba(12,13,14,0.15); 
    margin: 1%;
    margin-bottom: 5%;
}

.photos-summary{
    flex: 0.5;
    background-color: #fff;
    border-radius: 10px;
    padding:5% 0% 5% 0%;
    box-shadow: 0 5px 8px rgba(12,13,14,0.15); 
    margin: 1%;
    margin-bottom: 5%;
    /*margin-left: 12%;*/
}

#myChart1 {
    /*    background-color: #fff;
        border-radius: 10px;
        padding:5% 0% 5% 0%;
        box-shadow: 0 5px 8px rgba(12,13,14,0.15); 
        margin-bottom: 8%;*/
}

#myChart2 {
    /*    background-color: #fff;
        border-radius: 10px;
        padding:5% 0% 5% 0%;
        box-shadow: 0 5px 8px rgba(12,13,14,0.15); 
        margin-left: 12%;*/

}

#myChart3 {
    /*    background-color: #fff;
        border-radius: 10px;
        padding:5% 0% 5% 0%;
        box-shadow: 0 5px 8px rgba(12,13,14,0.15); */
    /*margin-left: 12%;*/

}

#myChart4 {
    /*    background-color: #fff;
        border-radius: 10px;
        padding:5% 0% 5% 0%;
        box-shadow: 0 5px 8px rgba(12,13,14,0.15); 
        margin-left: 12%;*/

}


.heading2 {
    float: left;
    margin-top: 5%;
    height:0%;
    margin-left: 0%;
    /*margin-right: 80%;*/
    background: red;
    padding: 0%;
}

.heading2 h1 {
    font-family: 'Didact Gothic', sans-serif;
    font-size: 250%;

}