
body {
    margin: 0;
    padding: 0;
}

.side-nav {
    float: left;
    /*background-color: red;*/
    border-right: 4px solid #cc7106;
    padding: 2% 0%;
    width:20%;
    height: 100%;
    text-align: center;
    justify-content: center;
    align-content: center;
    position: fixed;
}

.side-nav a {
    outline: none;
    height: 30%;
    width: 30%;
}

.side-nav a img {
    outline: none;
    height: 9%;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}