.box {
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    margin-top:3%;
    margin-bottom: 1.5%;
    justify-content: space-between;
}

.box h2{
    font-family: 'Poppins', sans-serif;
    font-size: 150%;
    font-weight: bold;
    text-align: center;
}

.box .box1 {
    padding: 32px;
    width: 35%;
    background-color: white;
    margin-right: 5%;
    text-align: left;
    border-radius: 20px;
}

.box .box2 {
    margin-left: 5%;
    padding: 32px;
    width: 35%;
    background-color: white;
    text-align: left;
    border-radius: 20px;

}

.formContent{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: flex-start;
    margin-right: 5%;
    margin-left: 5%;
}

.formContent span{
    align-items: flex-end;
    color: black;
}

input[type=text]
{
    width : 98%;
    height: 30px;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid black;
    padding-left: 5px;
    font-size: 16px;
    margin-top: 1px;
    width: 100%;
    margin-bottom: 2%;
    outline: none;
    background-color: #fff;
}


.table {
  font-family: 'Poppins', sans-serif;
  border-collapse: collapse;
  width: 100%;
  
}

.th {
  background-color: #f0efef;
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
  font-family: 'Poppins', sans-serif;
  background-color: #DFF0F7;
  
}

.tr {
  background-color: #f0efef;
  border: 1px solid #dddddd;
  text-align: center;
  padding: 6px;
  font-family: 'Poppins', sans-serif;
  
}

.b3 {
    margin-top: 2%;
    margin-left: 5%;
    background-color: #fff;
    width: 87%;
    height:auto;
    border-radius: 10px;
    padding: 1% 1.5% 3% 1.5%;
    margin-bottom: 2%;
/*    margin: auto;    */
    /*box-shadow: 0.1px 0.1px 10px #ccc;*/
}

.b3 h2{
    font-family: 'Poppins', sans-serif;
    font-size: 150%;
    font-weight: bold;

}

.btn1 {
    background-color: #335fa6;
    color: white;
    padding: 10px 40px 5px 9px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 10%;
    opacity: 0.9;
    text-align: center;
    margin-right: 5%;
}

input[type=date]
{
    width : 98%;
    height: 30px;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid black;
    padding-left: 5px;
    font-size: 16px;
    margin-top: 5px;
    width: 100%;
    margin-bottom: 4%;
    outline: none;
    background-color: #fff;
}

.textarea
{
    width : 98%;
    row:4;
    columns: 100;
    resize: none;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid black;
    padding-left: 5px;
    font-size: 20px;
    margin-top: 5px;
    width: 100%;
    margin-bottom: 4%;
    outline: none;
    background-color: #fff;
}

button {
    background-color: #335fa6;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 30%;
    opacity: 0.9;
    margin-left: 35%;
}
