.AdminSettingBody{
    font-family: calibri;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #f4f4f4;
}

.account{

    /*width: 50%;*/
    /*padding: 0 0 0 0%;*/
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 4px;
    background-color: #fff;  
    border-radius: 10px;
    margin-top: 50px;
    /*margin: 5% 20% 0 0;*/

}

.account .heading{
    padding: 10px 0px 10px 10px;
}
.account .heading p{
    margin: 0px;
    font-weight: 600;
    font-size: 25px;

}
.account .heading label a{
    float: right;
    font-size: 14px;
    font-weight: normal;
    border: 1px solid #ededed;
    border-right: none;
    border-radius: 5px 0px 0px 5px;
    padding: 2px 1px 2px 5px;
    text-decoration: none;
    color: black;
}

.heading p::after{
    display: block;
    height: .15rem;
    content: "";
    background-color: #323232;
    border-radius: .125rem;
    width: 45%;
    margin-top: 0.75rem;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

.account .heading label a:hover{
    background-color:  #e7e7e7;
    color: black !important;
}
.account .edit{
    padding: 10px 10px 10px 10px;
    text-align: justify;
    color: #838383;
    font-size: 13px;
    margin-top: -2%;
}

.edit input[type=text] {
    width: 80%;
    padding: 11px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #eaeaea;
    font-size: 18px;
    background-color: #fbfbfb;
    font-family: Helvetica;
    font-family: 'Didact Gothic', sans-serif;
}

/*.edit input:hover{
    background: url("../../Resources/Img/edit.png") no-repeat;
    background-position-x: 100%;
    cursor: pointer;
}*/

.edit label{
    font-size: 18px;
    color: #323232;
    font-weight: bold;
    font-family: 'Didact Gothic', sans-serif;
}


.address{
    /*float: right;*/
    /*width: 50%;*/
    /*margin-top: 30px;*/
    border-radius: 4px;
    background-color: #fff; 
    padding-left: 50px;
    padding-right: 50px;
    /*margin-right: 10%;*/
    border-radius: 10px;
    margin-top: 50px;
    /*margin: 3% 20% 0 0;*/
    /*padding:0 0 0 2%;*/
}

.address .heading{
    padding: 10px 0px 10px 10px;
}

.address .heading p{
    margin: 0px;
    font-weight: 600;
    font-size: 25px;
}

.address .edit{
    padding: 10px 10px 10px 10px;
    text-align: justify;
    color: #838383;
    font-size: 13px;

}

.password {
    /*float: right;*/
    /*width: 50%;*/
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    border-radius: 4px;
    background-color: #fff; 
    border-radius: 10px;
    margin-bottom: 25px;
    /*margin: 3% 20% 3% 0%;*/
    padding: 0 0 1% 2%;
}

.password .heading{
    padding: 10px 0px 10px 10px;
}

.password .heading p{
    margin: 0px;
    font-weight: 600;
    font-size: 25px;
}


.password .edit{
    padding: 0px 10px 0px 10px;
    text-align: justify;
    color: #838383;
    font-size: 13px;

}

.password .edit p{
    text-align: justify;
    color: #838383;
    font-size: 16px;
    font-family: 'Be Vietnam', sans-serif;
    margin-top: -0.1%;
}
.password .edit a{
    display: inline-block;
    padding: 8px 10px;
    cursor: pointer;
    border-radius: 20px;
    color: white;
    background-color: #008CBA;
    text-decoration: none;  
    font-size: 15px;
    margin-left: 20px;
}

.password .edit a:hover{
    box-shadow: 0 7px 8px 0 rgba(0,0,0,0),0 9px 25px 0 rgba(0,0,0,0.1);
    background-color: #006CBE;
    color: white;  
}

.icon .icon1{
    margin-left: 4%;
}

.icon .icon2{
    margin-left: 1%;
}

