.managephotoBody{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #f7f6f9;
    align-items: center;
}


.box {
    background-color: #fff;
    width: 65%;
    height:auto;
    margin-top: 2%;
      
    border-radius: 10px;
    padding: 1% 1.5% 3% 1.5%;
    margin-bottom: 2%;
    /*box-shadow: 0.1px 0.1px 10px #ccc;*/
}

.box h2{
    font-family: 'Poppins', sans-serif;
    font-size: 150%;
    font-weight: bold;
/*    margin-left: 5%;*/
}


.table {
    font-family: 'Poppins', sans-serif;
    border-collapse: collapse;
    width: 100%;
    font-weight: bold;
}

.th {
    background-color: #f0efef;
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

#th-color1{
    background-color: #DFF0F7;
}

#th-color2{
    background-color: #C4E8F2;
}

.tr:nth-child(even) {
    background-color: #d9d9d9;
}

div .search input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 75%;
    background: #f1f1f1;
}

div .search button {
    float: left;
    width: 25%;
    padding: 4.1px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

div .search button:hover {
    background: #0b7dda;
}

.formContent{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: flex-start;
    margin-right: 5%;
/*    margin-left: 5%;*/
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.formContent span{
    align-items: flex-end;
    color: black;
}

input[type=text]
{
    width : 98%;
    height: 30px;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid black;
    padding-left: 5px;
    font-size: 18px;
    margin-top: 1px;
    width: 100%;
    margin-bottom: 2%;
    outline: none;
    background-color: #f0efef;
}

input[type=date]
{
    width : 98%;
    height: 30px;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid black;
    padding-left: 5px;
    font-size: 16px;
    margin-top: 5px;
    width: 100%;
    margin-bottom: 2%;
    outline: none;
    background-color: #f0efef;
}

.textarea
{
    width : 98%;
    row:4;
    columns: 100;
    resize: none;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid black;
    padding-left: 5px;
    font-size: 18px;
    margin-top: 5px;
    width: 100%;
    margin-bottom: 2%;
    outline: none;
    background-color: #f0efef;
}

.btn1 {
    background-color: #335fa6;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 30%;
    opacity: 0.9;
    margin-right: 6%;
}

.btn {
    background-color: #335fa6;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 30%;
    opacity: 0.9;
    margin-left: 12%;
}

button:hover {
    opacity:1;
}

