.content {
    margin-top: 4%;
    display: flex;
    justify-content: space-around;

}

.content .box {
    height: 50%;
    width: 23%;    
    background-color: #fff;
    /*margin-right:9%;*/
    padding:0.3% 0.7% 0.3% 0.7%;
    border-radius: 20px;
}

#box-color1 {
    background-color: #DFF0F7;
}

#box-color2 {
    background-color: #C4E8F2;
}

.content .box h2 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    font-size: 150%;
    color: #120050;
}

/*.content .box .icon1 img:hover {
    transform:scale(1.5);
    transition: transform .5s ease-in-out;  Animation 
}

.content .box .icon1 img{
    transition: transform .5s ease-in-out;  Animation 
}

.content .box .icon img:hover {
    transform: scale(1.5);
}

.content .box .icon img {
    transition: transform .5s ease-in-out;
}*/

.content .icon  {
    height: 90px;
    width: 90px;
    margin-left: 28%
        
    /*align-items: center;*/
}

.content .icon img {
    position: relative;
    max-width:200px;
    max-height: 70px;
    display: block;
    height: auto;
    width: auto;

    
}

.content .icon1 {
    height: 90px;
    width: 90px;
    margin-left: 27%;

}

.content .icon1 img {
    position: relative;
    max-width:200px;
    max-height: 70px;
    display: block;
    height: auto;
    width: auto;

}

.contain {
    display: flex;
    justify-content: space-around;
    margin-top:3%;
    margin-bottom: 1.5%;
    margin-left: 3%;
    margin-right: 3%;

}

.contain h2{
    font-family: 'Poppins', sans-serif;
    font-size: 150%;
    font-weight: bold;

}

.contain .b1 {
    padding: 32px;
    width: 39%;
    background-color: white;
    /*margin-right: 5%;*/
    text-align: left;
    border-radius: 10px;

}

.contain .b2 {
    margin-left: 4%;
    padding: 32px;
    width: 39%;
    background-color: white;
    text-align: left;
    border-radius: 10px;

}

.formContent{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: flex-start;
    margin-right: 5%;
    margin-left: 5%;
}

.formContent span{
    align-items: flex-end;
    color: black;
}

input[type=text]
{
    width : 98%;
    height: 30px;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid black;
    padding-left: 5px;
    font-size: 18px;
    color: black;
    width: 100%;
    margin-bottom: 2%;
    outline: none;
    background-color: #fff;
}

.btn {
    background-color: #335fa6;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 40%;
    opacity: 0.9;
    margin-left: 7%;
}

.btn1 {
    background-color: #335fa6;
    color: white;
    padding: 10px 40px 5px 9px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 10%;
    opacity: 0.9;
    text-align: center;
/*    margin-right: 5%;*/
}


.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.table {
  font-family: 'Poppins', sans-serif;
  border-collapse: collapse;
  width: 100%;
  
}

.th {
  background-color: #f0efef;
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
  font-family: 'Poppins', sans-serif;
  background-color: #DFF0F7;
  
}

.tr {
  background-color: #f0efef;
  border: 1px solid #dddddd;
  text-align: center;
  padding: 6px;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  
}

.b3 {
    
    background-color: #fff;
    width: 88%;
    height:auto;
    border-radius: 10px;
    padding: 1% 1.5% 3% 1.5%;
    margin-bottom: 2%;
    margin: auto;    
    /*box-shadow: 0.1px 0.1px 10px #ccc;*/
}

.b3 h2{
    font-family: 'Poppins', sans-serif;
    font-size: 150%;
    font-weight: bold;

}


div .search input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 75%;
  background: #f1f1f1;
}

div .search button {
  float: left;
  width: 25%;
  padding: 4px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

div .search button:hover {
  background: #0b7dda;
}
