.top {
    width: 100%;
    display: flex;
}
.heading {
    margin-left: 42%;
    width: 30%;
    margin-top: -0.5%;
    text-align: center;
}

#p1{
    font-family: 'Didact Gothic', sans-serif;
    font-size: 2rem;
    color: #120050;
    font-weight: 700;
    line-height: 1em;
}

#p2 {
    font-family: 'Barlow', sans-serif;
    font-size: 1rem;
    color: #120050;
    font-weight: 500;
    letter-spacing: 2px;
    margin-top: -10%;
}

.content {
    margin-left: 20%;
    margin-top: 4%;
    display: flex;
}

.content .box {
    height: 50%;
    width: 23%;    
    background-color: #fff;
    margin-left:5%;
    padding:0.3% 0.7% 0.3% 0.7%;
    border-radius: 15px;
}

#box1 {
    padding-bottom: 21px;
}

#box-color1 {
    background-color: #DFF0F7;
}

#box-color2 {
    background-color: #C4E8F2;
}

.content .box h2 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    font-size: 150%;
    color: #120050;
}

.content .box .icon1 img:hover {
    transform:scale(1.5);
    transition: transform .5s ease-in-out; /* Animation */
}

.content .box .icon1 img{
    transition: transform .5s ease-in-out; /* Animation */
}

.content .box .icon img:hover {
    transform: scale(1.5);
}

.content .box .icon img {
    transition: transform .5s ease-in-out;
}

.content .icon  {
    height: 90px;
    width: 90px;
    margin-left: 28%
        
    /*align-items: center;*/
}

.content .icon img {
    height: 170px;
    width: auto;
    
}

.content .icon1 {
    height: 90px;
    width: 90px;
    margin-left: 27%;
    margin-top: 35%;
    /*align-items: center;*/
}

.content .icon1 img {
    height: 105px;
    width: auto;
}

.box p {
    text-align: center;
    color:#120050;
    font-family: 'Poppins', sans-serif;
    font-size: 250%;
    font-weight: 700;
    
}

.arrow a {
    text-decoration: none;
}

.arrow a img{
    float: right;
    margin-right: 5%;
    margin-bottom: 5%;
    transition: transform .5s ease-in-out;
}

.arrow a img:hover{
    transform: scale(1.8);
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

.modal-content {
    background-image:url('../../Resources/Img/PlanUp.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 5% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 70%; 
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

input[type=text], input[type=password] {
    width: 50%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus {
    background-color: #ddd;
    outline: none;
}

hr {
    border: 1px solid lightblue;
    margin-bottom: 25px;
}


button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
    opacity: 0.9;
}

button:hover {
    opacity:1;
}


.closebtn {
    padding: 14px 20px;
    background-color: navy;
}


.updatebtn, .closebtn {
    float: left;
    width: 25%;
}


.container {
    padding: 16px;
}


.clearfix::after {
    content: "";
    clear: both;
    display: table;
}


@media screen and (max-width: 300px) {
    .Updatebtn, .closebtn {
        width: 100%;
    }
}