<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AskQues</servlet-name>
        <servlet-class>Controller.Forum.AskQues</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ques</servlet-name>
        <servlet-class>Controller.Ques</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserMgt</servlet-name>
        <servlet-class>Controller.Admin.UserMgt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>forum</servlet-name>
        <servlet-class>Model.Question</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>forumH</servlet-name>
        <servlet-class>Controller.Forum.forumH</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckLoginAccount</servlet-name>
        <servlet-class>Controller.CheckLoginAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewDeactivateUser</servlet-name>
        <servlet-class>Controller.Admin.ViewDeactivateUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PhotographerUpdate</servlet-name>
        <servlet-class>Controller.Photographer.PhotographerUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancellingPhotographerUpdate</servlet-name>
        <servlet-class>Controller.Photographer.CancellingPhotographerUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeactivateUser</servlet-name>
        <servlet-class>Controller.Admin.DeactivateUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOut</servlet-name>
        <servlet-class>Controller.LogOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancellingClientUpdate</servlet-name>
        <servlet-class>Controller.Clent.CancellingClientUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClientDetailsUpdate</servlet-name>
        <servlet-class>Controller.Clent.ClientDetailsUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContributorOrClintLogin</servlet-name>
        <servlet-class>Controller.ContributorOrClintLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDasboardHandler</servlet-name>
        <servlet-class>Controller.Admin.AdminDasboardHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClientRegister</servlet-name>
        <servlet-class>Controller.Clent.ClientRegister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PhotographerRegistration</servlet-name>
        <servlet-class>Controller.Photographer.PhotographerRegistration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminRegister</servlet-name>
        <servlet-class>Controller.Admin.AdminRegister</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AskQues</servlet-name>
        <url-pattern>/AskQues</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ques</servlet-name>
        <url-pattern>/Ques</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserMgt</servlet-name>
        <url-pattern>/UserMgt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>forum</servlet-name>
        <url-pattern>/forum</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>forumH</servlet-name>
        <url-pattern>/forumH</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckLoginAccount</servlet-name>
        <url-pattern>/CheckLoginAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewDeactivateUser</servlet-name>
        <url-pattern>/ViewDeactivateUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PhotographerUpdate</servlet-name>
        <url-pattern>/PhotographerUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancellingPhotographerUpdate</servlet-name>
        <url-pattern>/CancellingPhotographerUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeactivateUser</servlet-name>
        <url-pattern>/DeactivateUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOut</servlet-name>
        <url-pattern>/LogOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancellingClientUpdate</servlet-name>
        <url-pattern>/CancellingClientUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClientDetailsUpdate</servlet-name>
        <url-pattern>/ClientDetailsUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContributorOrClintLogin</servlet-name>
        <url-pattern>/ContributorOrClintLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDasboardHandler</servlet-name>
        <url-pattern>/AdminDasboardHandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClientRegister</servlet-name>
        <url-pattern>/ClientRegister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminRegister</servlet-name>
        <url-pattern>/AdminRegister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PhotographerRegistration</servlet-name>
        <url-pattern>/PhotographerRegistration</url-pattern>
    </servlet-mapping>
    
    <session-config>
        <session-timeout>
            10
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>View/Home.jsp</welcome-file>
    </welcome-file-list>
    <filter>
        <filter-name>CheckLogin</filter-name>
        <filter-class>Controller.Filters.CheckLogin</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CheckLogin</filter-name>
        <url-pattern>/View/login.jsp</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>FilterLoggedClientAccessOnly</filter-name>
        <filter-class>Controller.Filters.FilterLoggedClientAccessOnly</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FilterLoggedClientAccessOnly</filter-name>
        <url-pattern>/View/User/ClientProfileUpdate.jsp</url-pattern>
        <url-pattern>/View/User/Cart.jsp</url-pattern>
        <url-pattern>/View/User/purchasehistory.jsp</url-pattern>
        <url-pattern>/View/Events/EventsPost.jsp</url-pattern>
        <url-pattern>/View/Events/PastEvents.jsp</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>FilterLoggedClient</filter-name>
        <filter-class>Controller.Filters.FilterLoggedClient</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FilterLoggedClient</filter-name>
        <url-pattern>/View/Home.jsp</url-pattern>
        <url-pattern>/View/User/AdvancedSearch.jsp</url-pattern>
        <url-pattern>/View/User/PurchasePhoto.jsp</url-pattern>
        <url-pattern>/View/Events/MainEventHome.jsp</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>FilterLoggedPhotographer</filter-name>
        <filter-class>Controller.Filters.FilterLoggedPhotographer</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FilterLoggedPhotographer</filter-name>
        <url-pattern>/View/PhotographerHome.jsp</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>FilterLoggedPhotographersAccessOnly</filter-name>
        <filter-class>Controller.Filters.FilterLoggedPhotographersAccessOnly</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FilterLoggedPhotographersAccessOnly</filter-name>
        <url-pattern>/View/Photographer/PhotographerUploadPhoto.jsp</url-pattern>
        <url-pattern>/View/Photographer/PhotographerProfile.jsp</url-pattern>
        <url-pattern>/View/Photographer/PhotographerUpdate.jsp</url-pattern>
        <url-pattern>/View/Events/ViewEvent.jsp</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>FilterLoggedClientOrPhotographer</filter-name>
        <filter-class>Controller.Filters.FilterLoggedClientOrPhotographer</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FilterLoggedClientOrPhotographer</filter-name>
        <url-pattern>/View/User/PhotographerSearch.jsp</url-pattern>
        <url-pattern>/View/Fourm/MainForum.jsp</url-pattern>
        <url-pattern>/View/Fourm/BrowseQn.jsp</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>FilterLoggedClientOrPhotographerAccessOnly</filter-name>
        <filter-class>Controller.Filters.FilterLoggedClientOrPhotographerAccessOnly</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FilterLoggedClientOrPhotographerAccessOnly</filter-name>
        <url-pattern>/View/Fourm/AskQues.jsp</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>FilterLoggedAdminAccessOnly</filter-name>
        <filter-class>Controller.Filters.FilterLoggedAdminAccessOnly</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FilterLoggedAdminAccessOnly</filter-name>
        <url-pattern>/View/Admin/AdminDashboard.jsp</url-pattern>
        <url-pattern>/View/Admin/AdminNotification.jsp</url-pattern>
        <url-pattern>/View/Admin/ManagePhoto.jsp</url-pattern>
        <url-pattern>/View/Admin/ApprovePhoto.jsp</url-pattern>
        <url-pattern>/View/Admin/ManageForum.jsp</url-pattern>
        <url-pattern>/View/Admin/AdminProfile.jsp</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>FilterLoggedAdminMainAccessOnly</filter-name>
        <filter-class>Controller.Filters.FilterLoggedAdminMainAccessOnly</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FilterLoggedAdminMainAccessOnly</filter-name>
        <url-pattern>/View/Admin/AdminSummery.jsp</url-pattern>
        <url-pattern>/View/Admin/ManageUser.jsp</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>FilterLoggedActor</filter-name>
        <filter-class>Controller.Filters.FilterLoggedActor</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FilterLoggedActor</filter-name>
        <url-pattern>/View/Photographer/changepassword.jsp</url-pattern>
    </filter-mapping>
   
    <error-page>
        <error-code>404</error-code>
        <location>/View/Error404.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/View/Error500.jsp</location>
    </error-page>
</web-app>
