<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AskQues</servlet-name>
        <servlet-class>Controller.Forum.AskQues</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ques</servlet-name>
        <servlet-class>Controller.Ques</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserMgt</servlet-name>
        <servlet-class>Controller.Admin.UserMgt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>forum</servlet-name>
        <servlet-class>Model.Question</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>forumH</servlet-name>
        <servlet-class>Controller.Forum.forumH</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckLoginAccount</servlet-name>
        <servlet-class>Controller.CheckLoginAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewDeactivateUser</servlet-name>
        <servlet-class>Controller.Admin.ViewDeactivateUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PhotographerUpdate</servlet-name>
        <servlet-class>Controller.Photographer.PhotographerUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancellingPhotographerUpdate</servlet-name>
        <servlet-class>Controller.Photographer.CancellingPhotographerUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeactivateUser</servlet-name>
        <servlet-class>Controller.Admin.DeactivateUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOut</servlet-name>
        <servlet-class>Controller.LogOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancellingClientUpdate</servlet-name>
        <servlet-class>Controller.Clent.CancellingClientUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClientDetailsUpdate</servlet-name>
        <servlet-class>Controller.Clent.ClientDetailsUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContributorOrClintLogin</servlet-name>
        <servlet-class>Controller.ContributorOrClintLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDasboardHandler</servlet-name>
        <servlet-class>Controller.Admin.AdminDasboardHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClientRegister</servlet-name>
        <servlet-class>Controller.Clent.ClientRegister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PhotographerRegistration</servlet-name>
        <servlet-class>Controller.Photographer.PhotographerRegistration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminRegister</servlet-name>
        <servlet-class>Controller.Admin.AdminRegister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PhotographSearch</servlet-name>
        <servlet-class>Controller.Clent.PhotographSearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActivateUser</servlet-name>
        <servlet-class>Controller.Admin.ActivateUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewActivateUser</servlet-name>
        <servlet-class>Controller.Admin.ViewActivateUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActivateUserMgt</servlet-name>
        <servlet-class>Controller.Admin.ActivateUserMgt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDetailsUpdate</servlet-name>
        <servlet-class>Controller.Admin.AdminDetailsUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancellingAdminUpdate</servlet-name>
        <servlet-class>Controller.Admin.CancellingAdminUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewMessages</servlet-name>
        <servlet-class>Controller.Admin.ViewMessages</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendNotifications</servlet-name>
        <servlet-class>Controller.Admin.SendNotifications</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PhotographAdvancedSearch</servlet-name>
        <servlet-class>Controller.Clent.PhotographAdvancedSearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewUploadedPhotos</servlet-name>
        <servlet-class>Controller.Admin.ViewUploadedPhotos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewReportedPhotographer</servlet-name>
        <servlet-class>Controller.Admin.ViewReportedPhotographer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>category_suggest</servlet-name>
        <servlet-class>Controller.Forum.category_suggest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewReportedPhotographs</servlet-name>
        <servlet-class>Controller.Admin.ViewReportedPhotographs</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Add_answer</servlet-name>
        <servlet-class>Controller.Forum.Add_answer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>display_question_inAnswer</servlet-name>
        <servlet-class>Controller.Forum.display_question_inAnswer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Add_comment</servlet-name>
        <servlet-class>Controller.Forum.Add_comment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>View_comment</servlet-name>
        <servlet-class>Controller.Forum.View_comment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>quesId</servlet-name>
        <servlet-class>Controller.Forum.quesId</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PurchasePhotoDetails</servlet-name>
        <servlet-class>Controller.Clent.PurchasePhotoDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewReportedQuestions</servlet-name>
        <servlet-class>Controller.Admin.ViewReportedQuestions</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewUploadedPhotoDetails</servlet-name>
        <servlet-class>Controller.Admin.ViewUploadedPhotoDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApprovePhoto</servlet-name>
        <servlet-class>Controller.Admin.ApprovePhoto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewReportedPhotoDetails</servlet-name>
        <servlet-class>Controller.Admin.ViewReportedPhotoDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewReportedQuesDetails</servlet-name>
        <servlet-class>Controller.Admin.ViewReportedQuesDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PastEvents</servlet-name>
        <servlet-class>Controller.Event.PastEvents</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Add_category</servlet-name>
        <servlet-class>Controller.Forum.Add_category</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PhotographerSearch</servlet-name>
        <servlet-class>Controller.Clent.PhotographerSearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostEvent</servlet-name>
        <servlet-class>Controller.Event.PostEvent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>display_question</servlet-name>
        <servlet-class>Controller.Forum.display_question</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PhotographerUploadPhoto</servlet-name>
        <servlet-class>Controller.Photographer.PhotographerUploadPhoto</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AskQues</servlet-name>
        <url-pattern>/AskQues</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ques</servlet-name>
        <url-pattern>/Ques</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserMgt</servlet-name>
        <url-pattern>/UserMgt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>forum</servlet-name>
        <url-pattern>/forum</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>forumH</servlet-name>
        <url-pattern>/forumH</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckLoginAccount</servlet-name>
        <url-pattern>/CheckLoginAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewDeactivateUser</servlet-name>
        <url-pattern>/ViewDeactivateUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PhotographerUpdate</servlet-name>
        <url-pattern>/PhotographerUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancellingPhotographerUpdate</servlet-name>
        <url-pattern>/CancellingPhotographerUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeactivateUser</servlet-name>
        <url-pattern>/DeactivateUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOut</servlet-name>
        <url-pattern>/LogOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancellingClientUpdate</servlet-name>
        <url-pattern>/CancellingClientUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClientDetailsUpdate</servlet-name>
        <url-pattern>/ClientDetailsUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContributorOrClintLogin</servlet-name>
        <url-pattern>/ContributorOrClintLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDasboardHandler</servlet-name>
        <url-pattern>/AdminDasboardHandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClientRegister</servlet-name>
        <url-pattern>/ClientRegister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminRegister</servlet-name>
        <url-pattern>/AdminRegister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PhotographerRegistration</servlet-name>
        <url-pattern>/PhotographerRegistration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PhotographSearch</servlet-name>
        <url-pattern>/PhotographSearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActivateUser</servlet-name>
        <url-pattern>/ActivateUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewActivateUser</servlet-name>
        <url-pattern>/ViewActivateUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActivateUserMgt</servlet-name>
        <url-pattern>/ActivateUserMgt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDetailsUpdate</servlet-name>
        <url-pattern>/AdminDetailsUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancellingAdminUpdate</servlet-name>
        <url-pattern>/CancellingAdminUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewMessages</servlet-name>
        <url-pattern>/ViewMessages</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendNotifications</servlet-name>
        <url-pattern>/SendNotifications</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PhotographAdvancedSearch</servlet-name>
        <url-pattern>/PhotographAdvancedSearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewUploadedPhotos</servlet-name>
        <url-pattern>/ViewUploadedPhotos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewReportedPhotographer</servlet-name>
        <url-pattern>/ViewReportedPhotographer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>category_suggest</servlet-name>
        <url-pattern>/category_suggest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewReportedPhotographs</servlet-name>
        <url-pattern>/ViewReportedPhotographs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Add_answer</servlet-name>
        <url-pattern>/Add_answer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>display_question_inAnswer</servlet-name>
        <url-pattern>/display_question_inAnswer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Add_comment</servlet-name>
        <url-pattern>/Add_comment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>View_comment</servlet-name>
        <url-pattern>/View_comment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>quesId</servlet-name>
        <url-pattern>/quesId</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PurchasePhotoDetails</servlet-name>
        <url-pattern>/PurchasePhotoDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewReportedQuestions</servlet-name>
        <url-pattern>/ViewReportedQuestions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewUploadedPhotoDetails</servlet-name>
        <url-pattern>/ViewUploadedPhotoDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApprovePhoto</servlet-name>
        <url-pattern>/ApprovePhoto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewReportedPhotoDetails</servlet-name>
        <url-pattern>/ViewReportedPhotoDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewReportedQuesDetails</servlet-name>
        <url-pattern>/ViewReportedQuesDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PastEvents</servlet-name>
        <url-pattern>/PastEvents</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Add_category</servlet-name>
        <url-pattern>/Add_category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PhotographerSearch</servlet-name>
        <url-pattern>/PhotographerSearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostEvent</servlet-name>
        <url-pattern>/PostEvent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>display_question</servlet-name>
        <url-pattern>/display_question</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PhotographerUploadPhoto</servlet-name>
        <url-pattern>/PhotographerUploadPhoto</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            10
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>View/Home.jsp</welcome-file>
    </welcome-file-list>
    <filter>
        <filter-name>CheckLogin</filter-name>
        <filter-class>Controller.Filters.CheckLogin</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CheckLogin</filter-name>
        <url-pattern>/View/login.jsp</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>FilterLoggedClientAccessOnly</filter-name>
        <filter-class>Controller.Filters.FilterLoggedClientAccessOnly</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FilterLoggedClientAccessOnly</filter-name>
        <url-pattern>/View/User/ClientProfileUpdate.jsp</url-pattern>
        <url-pattern>/View/User/Cart.jsp</url-pattern>
        <url-pattern>/View/User/purchasehistory.jsp</url-pattern>
        <url-pattern>/View/Events/EventsPost.jsp</url-pattern>
        <url-pattern>/View/Events/PastEvents.jsp</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>FilterLoggedClient</filter-name>
        <filter-class>Controller.Filters.FilterLoggedClient</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FilterLoggedClient</filter-name>
        <url-pattern>/View/Home.jsp</url-pattern>
        <url-pattern>/View/User/AdvancedSearch.jsp</url-pattern>
        <url-pattern>/View/User/PurchasePhoto.jsp</url-pattern>
        <url-pattern>/View/Events/MainEventHome.jsp</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>FilterLoggedPhotographer</filter-name>
        <filter-class>Controller.Filters.FilterLoggedPhotographer</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FilterLoggedPhotographer</filter-name>
        <url-pattern>/View/PhotographerHome.jsp</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>FilterLoggedPhotographersAccessOnly</filter-name>
        <filter-class>Controller.Filters.FilterLoggedPhotographersAccessOnly</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FilterLoggedPhotographersAccessOnly</filter-name>
        <url-pattern>/View/Photographer/PhotographerUploadPhoto.jsp</url-pattern>
        <url-pattern>/View/Photographer/PhotographerProfile.jsp</url-pattern>
        <url-pattern>/View/Photographer/PhotographerUpdate.jsp</url-pattern>
        <url-pattern>/View/Events/ViewEvent.jsp</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>FilterLoggedClientOrPhotographer</filter-name>
        <filter-class>Controller.Filters.FilterLoggedClientOrPhotographer</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FilterLoggedClientOrPhotographer</filter-name>
        <url-pattern>/View/User/PhotographerSearch.jsp</url-pattern>
        <url-pattern>/View/Photographer/UserViewPhotographerProfile.jsp</url-pattern>
        <url-pattern>/View/Notifications/notificationsHome.jsp</url-pattern>
        <url-pattern>/View/Fourm/MainForum.jsp</url-pattern>
        <url-pattern>/View/Fourm/BrowseQn.jsp</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>FilterLoggedClientOrPhotographerAccessOnly</filter-name>
        <filter-class>Controller.Filters.FilterLoggedClientOrPhotographerAccessOnly</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FilterLoggedClientOrPhotographerAccessOnly</filter-name>
        <url-pattern>/View/Fourm/AskQues.jsp</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>FilterLoggedAdminAccessOnly</filter-name>
        <filter-class>Controller.Filters.FilterLoggedAdminAccessOnly</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FilterLoggedAdminAccessOnly</filter-name>
        <url-pattern>/View/Admin/AdminDashboard.jsp</url-pattern>
        <url-pattern>/View/Admin/AdminNotification.jsp</url-pattern>
        <url-pattern>/View/Admin/ManagePhoto.jsp</url-pattern>
        <url-pattern>/View/Admin/ApprovePhoto.jsp</url-pattern>
        <url-pattern>/View/Admin/ManageForum.jsp</url-pattern>
        <url-pattern>/View/Admin/AdminProfile.jsp</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>FilterLoggedAdminMainAccessOnly</filter-name>
        <filter-class>Controller.Filters.FilterLoggedAdminMainAccessOnly</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FilterLoggedAdminMainAccessOnly</filter-name>
        <url-pattern>/View/Admin/AdminSummery.jsp</url-pattern>
        <url-pattern>/View/Admin/ManageUser.jsp</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>FilterLoggedActor</filter-name>
        <filter-class>Controller.Filters.FilterLoggedActor</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FilterLoggedActor</filter-name>
        <url-pattern>/View/Photographer/changepassword.jsp</url-pattern>
    </filter-mapping>
    <error-page>
        <error-code>404</error-code>
        <location>/View/Error404.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/View/Error500.jsp</location>
    </error-page>
</web-app>
