*{
    margin : 0;
    padding : 0;
    box-sizing : border-box;
}

.body{
    background :  url("../Resources/Img/camfoot1.jpg") no-repeat center fixed;
    background-size: cover;

}

.outterdiv{
    display: flex;
    flex-flow: row wrap; /*flex-direstion flex-wrap*/
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    margin-left: 10%;
    margin-right: 10%;

}

.d1{

    flex-basis: 55%;
    padding-left: 10%;
}

.form{
    background-color: white;
    font-family: sans-serif;
    border-radius: 5px;
    padding: 40px;
    flex-basis: 45%;
}

.topic{
    margin-bottom: 30px;
    font-family: 'Roboto Slab', serif;
}
.logintxt{
    color: #666666;
    font-size: 14px;
}

.logintxt a{
    text-decoration: none;
    color: #0066ff;
}

.content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    font-family: 'Roboto Slab', serif;

}

.formContent{
    width: 100%;
    position: relative;
    height: 50px;
    margin-bottom: 15px;
    overflow: hidden;
}


.formContent input{
    width: 100%;
    height: 100%; 
    color: #595f6e;
    padding-top: 25px;
    border: none;
    outline: none;
}

.formContent label{
    position: absolute;
    bottom: 0px;
    left: 0%;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid black;
    font-size: 14px;
   

}

.formContent label::after{
    content: "";
    position: absolute;
    left: 0px;
    bottom: -1px;
    height: 100%;
    width: 100%;
    border-bottom: 3px solid #5fa8d3;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    display: none;
}
.content_name{
    position: absolute;
    bottom: 0px;
    left: 0px;
    transition: all 0.3s ease;
}

.formContent input:focus + .label_name .content_name,
.formContent input:valid + .label_name .content_name{
    transform: translateY(-150%);
    font-size: 14px;
    color: #5fa8d3;
}
.formContent input:focus + .label_name::after,
.formContent input:valid + .label_name::after{
    transform: translateX(0%);
    display: block;
}

.para{
    width: 100%;
    margin-top: 30px;
    line-height: 20px;
    font-size: 12px;
    align-items: flex-start;

}

.submit{
    width: 75%;
    margin-top: 20px;
    padding: 10px 15px;
    border-radius: 20px;
    background-color:  RGB(13,102,208);
    border: none;
    color: white;
    font-weight: bold;
}

.formContent input[type=date]::-webkit-datetime-edit-year-field:not([aria-valuenow]),
.formContent input[type=date]::-webkit-datetime-edit-month-field:not([aria-valuenow]),
.formContent input[type=date]::-webkit-datetime-edit-day-field:not([aria-valuenow]) {
    color: transparent;
}


input[type="date"]:in-range::-webkit-datetime-edit-year-field, 
input[type="date"]:in-range::-webkit-datetime-edit-month-field, 
input[type="date"]:in-range::-webkit-datetime-edit-day-field, 
input[type="date"]:in-range::-webkit-datetime-edit-text 
{ 	color: transparent; }