.inside-header {
    background-color: red;
    margin-top: 5%;
    height: 30%;
    background-color: #fff; 
    padding:1% 0 0.2% 0;  
    box-shadow: 0 5px 8px rgba(12,13,14,0.15);    
}

.inside-header ul li{
    display: inline-block;
    padding-right: 3%;
    outline: none;
}

.inside-header ul li a{
    display: inline-block;
    text-decoration: none;
    font-family: 'Didact Gothic', sans-serif;
    font-size: 100%;
    color: #858383;
    font-weight: bold;
    padding: 0 0 1% 0;
    outline: none;
}

.inside-header ul li a:hover {
    color: #d86f19;
    border-bottom: 2px solid #d86f19;
}

.inside-header ul li a:focus {
    color: #d86f19;
    border-bottom: 2px solid #d86f19;
}

/*.content {
    display: flex;
    flex-wrap: wrap;
width: auto;
}*/

.content .image-box {
    /*background-color: red;*/
    width: 61%; 
    display: flex;
    flex-wrap: wrap;
    margin-left: 1%;
    justify-content: center;
    margin-top:2%;
}

.content .image-box input {
    display: none;

}

.content .image-box label {
    display:block;
    margin-right: 3.3%;
    margin-bottom: 3%;
}

input:checked + label{
    border-top: 5px solid  #ff8622; 
    transform: scale(1.1);


}

.content .image-box label img {
    height: 200px;
    width: 200px;
    /*display: block;*/

}

.details {
    background-color: #fff;
    margin-top: -31%;
    margin-left: 67%;
    margin-bottom: 3%;
    width: 30%;
    display: flex;
/*    flex: 1 0 300px;*/
    flex-direction: column;
    /*flex-wrap: wrap;*/
    border-radius: 10px;
    padding:0 0 3% 0;
    height: 50%;
    overflow: auto;
    box-sizing: border-box;
}

.details .images {
    display: flex;
    flex-wrap: wrap;
    height:30%;
    width: 50%; 
    margin-top: -10%;
    margin-left: 38%;
    margin-bottom: 0;
}

.details .images img {
    height: auto;
    width: 60%; 
}

#delete {
    margin-top: 10%;
    margin-left: 50%;
}

.details p {
    margin-top: 13%;
}

.details .category {
    margin-left: 10%;
    margin-top: 5%;

}

.details .category label {
    padding-right: 5%;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 100%;

}

.details .category select{
    outline: none;
    border:none;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 100%;
    width: 15%;
    color:#707070;
    position:absolute;
}

.details .category select:focus{
    box-shadow:0 0 8px 0 rgba(12, 18, 28, 0.12);
}

.details .category select:hover {
    color:#4b4b4b;
}

.details .releases {
    margin-left: 10%;
    padding:5px;
    margin-top: 5%;
    border: 1px solid rgba(12, 18, 28, 0.12);
    width:59%;
    height: 25%;
    padding: 0 0 0 3%;
    border-radius: 5px;
}


.details .releases p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 100%;
    margin-top: 5%;
}

.details .releases p span a {
    text-decoration: none;
}

#download{
    cursor: pointer;
}

#upload{
    cursor: pointer;
}

.title-area {
    margin-left: 10%;
}

.title-area textarea {
    margin-top: 5%;
    border-radius: 5px;
    border: 1px solid rgba(12, 18, 28, 0.12);
    outline: none;
    resize: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 100%;
}

.title-area textarea:placeholder-shown{
    font-style:italic;
    font-family: 'Didact Gothic', sans-serif;
    font-size: 100%;
}

.keyword-area {
    margin-left: 10%;

}

.keyword-area textarea {
    margin-top: 5%;
    border-radius: 5px;
    border: 1px solid rgba(12, 18, 28, 0.12);
    outline: none;
    resize: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 100%;
}

.keyword-area textarea:placeholder-shown{
    font-style:italic;
    font-family: 'Didact Gothic', sans-serif;
    font-size: 100%;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: 10% 35%;
    padding: 15px 15px 30px 20px;
    border: 1px solid #888;
    width: 20%;
    border-radius: 10px;
}

.modal-content .modal-heading {
    font-family: 'Didact Gothic', sans-serif;
}

.modal-content .form-download a {
    font-family: 'Source Sans Pro', sans-serif;
    text-decoration: none;
    color:orange;
}
.modal-content .modal-heading p{
    color:rgba(12, 18, 28, 0.6);
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.file-name {
    margin-left: 10%;
    margin-top: 5%;
}
.file-name p{
    padding: 0;
    margin-top: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

.submit {
    text-align: center;
    height: 10%;
    background-color: #00478a;
    width: 80%;
    margin: auto;
    
}

.submit a {
    text-decoration: none;
    color: white;
    font-size: 120%;
    font-family: 'Didact Gothic', sans-serif;
}