.inside-header {
    background-color: red;
    margin-top: 5%;
    height: 30%;
    background-color: #fff; 
    padding:1% 0 0.2% 0;  
    box-shadow: 0 5px 8px rgba(12,13,14,0.15);   
}

.inside-header ul li{
    display: inline-block;
    padding-right: 3%;
    outline: none;
}

.inside-header ul li a{
    display: inline-block;
    text-decoration: none;
    font-family: 'Didact Gothic', sans-serif;
    font-size: 100%;
    color: #858383;
    font-weight: bold;
    padding: 0 0 1% 0;
    outline: none;
}

.inside-header ul li a:hover {
    color: #d86f19;
    border-bottom: 2px solid #d86f19;
}

.inside-header ul li a:focus {
    color: #d86f19;
    border-bottom: 2px solid #d86f19;
}

#tosubmit {
    color: #d86f19;
    border-bottom: 2px solid #d86f19;
}
/*.content {
    display: flex;
    flex-wrap: wrap;
width: auto;
}*/

.content .image-box {
    /*background-color: red;*/
    width: 61%; 
    display: flex;
    flex-wrap: wrap;
    margin-left: 1%;
    justify-content: center;
    margin-top:2%;
}

.content .image-box input {
    display: none;

}

.content .image-box label {
    display:block;
    margin-right: 3.3%;
    margin-bottom: 3%;
}

input:checked + label{
    border-top: 5px solid  #ff8622; 
    transform: scale(1.1);
}

.content .image-box label img {
    height: 200px;
    width: 200px;
    /*display: block;*/

}

div .details {
    background-color: #fff;
    margin-top: -15%;
    margin-left: 67%;
    margin-bottom: 3%;
    width: 30%;
    display: flex;
    /*    flex: 1 0 300px;*/
    flex-direction: column;
    /*flex-wrap: wrap;*/
    /*border-radius: 10px;*/
    padding:0 0 3% 0;
    height: 50%;
    overflow: auto;
    box-sizing: border-box;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16);
}

div .details .images {
    display: flex;
    flex-wrap: wrap;
    height:30%;
    width: 50%; 
    margin-top: -10%;
    margin-left: 38%;
    margin-bottom: 0;
}

div .details .images img {
    height: auto;
    width: 60%; 
}

#delete {
    margin-top: 10%;
    margin-left: 50%;
}

div .details p {
    margin-top: 13%;
}

div .details .category {
    margin-left: 10%;
    margin-top: 5%;

}

div .details .category label {
    padding-right: 5%;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 100%;

}

div .details .category select{
    outline: none;
    border:none;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 100%;
    width: 15%;
    color:#707070;
    position:absolute;
}

div .details .category select:focus{
    box-shadow:0 0 8px 0 rgba(12, 18, 28, 0.12);
}

div .details .category select:hover {
    color:#4b4b4b;
}

div .details .releases {
    margin-left: 10%;
    padding:5px;
    margin-top: 5%;
    border: 1px solid rgba(12, 18, 28, 0.12);
    width:59%;
    height: 25%;
    padding: 0 0 0 3%;
    border-radius: 5px;
}


div .details .releases p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 100%;
    margin-top: 5%;
}

div .details .releases p span a {
    text-decoration: none;
}

#download{
    cursor: pointer;
}

#upload{
    cursor: pointer;
}

.title-area {
    margin-left: 10%;
}

.title-area textarea {
    margin-top: 5%;
    border-radius: 5px;
    border: 1px solid rgba(12, 18, 28, 0.12);
    outline: none;
    resize: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 100%;
    padding-left: 3%;
}

.title-area textarea:placeholder-shown{
    font-style:italic;
    font-family: 'Didact Gothic', sans-serif;
    font-size: 100%;
}

.keyword-area {
    margin-left: 10%;

}

.keyword-area textarea {
    margin-top: 5%;
    border-radius: 5px;
    border: 1px solid rgba(12, 18, 28, 0.12);
    outline: none;
    resize: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 100%;
    padding-left: 3%;
}

.keyword-area textarea:placeholder-shown{
    font-style:italic;
    font-family: 'Didact Gothic', sans-serif;
    font-size: 100%;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: 10% 35%;
    padding: 15px 15px 30px 20px;
    border: 1px solid #888;
    width: 20%;
    border-radius: 10px;
}

.modal-content .modal-heading {
    font-family: 'Didact Gothic', sans-serif;
}

.modal-content .form-download a {
    font-family: 'Source Sans Pro', sans-serif;
    text-decoration: none;
    color:orange;
}
.modal-content .modal-heading p{
    color:rgba(12, 18, 28, 0.6);
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.file-name {
    margin-left: 10%;
    margin-top: 5%;
}
.file-name p{
    padding: 0;
    margin-top: 0;
    font-family: 'Source Sans Pro', sans-serif;
    color:#514f4f ;
}

.submit {
    text-align: center;
    height: 10%;
    background-color: #00478a;
    width: 80%;
    margin: auto;
    padding: 2%;

}

.submit a {
    text-decoration: none;
    color: white;
    font-size: 110%;
    font-family: 'Didact Gothic', sans-serif;
}

#upload-photo {
    border: 2px solid #d86f19;
    border-radius: 10px;
    height: 5%;
    padding: 0;
    font-size: 130%;
    padding: 0 5% 0 5%;
    color:#415daa;
}

.upload-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.upload-modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 15px 15px 30px 20px;
    border: 1px solid #888;
    width: 20%;
    border-radius: 10px;
}

.upload-modal-content .upload-modal-image {
    height: 50%;
    width:50%;
    margin: auto;
    text-align: center;

}

.upload-modal-content .upload-modal-image a {
    text-decoration: none;
    font-family: 'Didact Gothic', sans-serif;
    text-align: center;
    /*margin-left: 38%;*/
    font-size: 123%;
    background-color:#00478a; 
    color: white;
    padding: 3% 15%;
    border-radius: 10px;
}

.upload-modal-content .upload-modal-image .list{
    margin-top: 15%;
    text-align: left;
    margin-left: -60%;

    font-family: 'Didact Gothic', sans-serif;
}
.upload-modal-content .upload-modal-image .list ul {
    width: 150%;
}
.upload-modal-content .upload-modal-image .list ul li{
    padding: 2%;
}

/* The Close Button */
.upload-close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.upload-close:hover,
.upload-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.inreview-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*flex:1;*/
}

.inreview-content .image-box {
    /*background-color: red;*/
    width: 70%; 
    display: flex;
    flex-wrap: wrap;
    /*margin-left: 1%;*/
    justify-content: center;
    margin-top:2%;
}

#re1 {
    transform:scale(1.1);
    border: 5px solid  #415daa;
}

.inreview-content .image-box img {
    height: 200px;
    width:200px;
    margin-right: 5%;
    padding:0;
}

.inreview-content .inreview-details {
    width: 28%;
    /*    display: flex;
        position: relative;
        flex-wrap: wrap;
        flex: 1;*/
    background-color: #fff;
    float: right;
    margin-right: 1%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16);
    padding: 1% 2%;
    margin-top: -13%;
}

.inreview-details .details-inreview-title h3 {
    font-family: 'Questrial', sans-serif;
}


.inreview-details .details-inreview-title p {
    font-family: 'Questrial', sans-serif;
}

.inreview-details .details-inreview {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1;
}

.inreview-details .details-inreview p {
    font-family: 'Didact Gothic', sans-serif;
    padding: 0 0 2% 0;
    margin: 0;
}

.upload-review label a {
    text-decoration: none;
    font-family: 'Didact Gothic', sans-serif;
    text-align: center;
    margin-left: 38%;
    font-size: 123%;
    background-color: #f48024;
    color:white;
    padding: 2% 3%;
    margin-top: 110%;

}

#uploadimage{
    text-decoration: none;
    font-family: 'Didact Gothic', sans-serif;
    text-align: center;
    font-size: 100%;
    color:#f48024;
    padding: 3% 15%;
    border-radius: 10px;
}

.notaccepted-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*flex:1;*/
}

.notaccepted-content .image-box-rejected {
    /*background-color: red;*/
    width: 70%; 
    display: flex;
    flex-wrap: wrap;
    /*margin-left: 1%;*/
    justify-content: center;
    margin-top:2%;
}

#re5 {
    transform:scale(1.1);
    border: 5px solid  #ff6969;
}

.notaccepted-content .image-box-rejected img {
    height: 200px;
    width:200px;
    margin-right: 5%;
    padding:0;
}

.notaccepted-content .notaccepted-details {
    width: 28%;
    /*    display: flex;
        position: relative;
        flex-wrap: wrap;
        flex: 1;*/
    background-color: #fff;
    float: right;
    margin-right: 1%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16);
    padding: 1% 2%;
    margin-top: -13%;
}

.notaccepted-details .details-notaccepted-title h3 {
    font-family: 'Questrial', sans-serif;

}


.notaccepted-details .details-notaccepted-title p {
    font-family: 'Questrial', sans-serif;
    color:#9D9D9D;
}

.notaccepted-details .details-notaccepted {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1;
}

.notaccepted-details .details-notaccepted p {
    font-family: 'Didact Gothic', sans-serif;
    padding: 0 0 2% 0;
    margin: 0;
}

.notaccepted-details .details-notaccepted span {
    background-color: #ff6969;
    color: white;
    font-family: 'Didact Gothic', sans-serif;
    text-align: center;
    padding: 2% 5%;
    margin-top: 4%;
    margin-bottom: 5%;
}

.accepted-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*flex:1;*/
}

.accepted-content .image-box-accepted {
    /*background-color: red;*/
    width: 70%; 
    display: flex;
    flex-wrap: wrap;
    /*margin-left: 1%;*/
    justify-content: center;
    margin-top:2%;
}

#re9 {
    transform:scale(1.1);
    border: 5px solid  #3eb80e;
}

.accepted-content .image-box-accepted img {
    height: 200px;
    width:200px;
    margin-right: 5%;
    padding:0;
}

.sale-album {
    margin-left: 10%;
    margin-top: 5%;
}
.sale-album p{
    padding: 0;
    margin-top: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

.sale-album input {
    margin-left: 4%;
    outline: none;
    /*    border-top: none;
        border-left: none;
        border-right: none;*/
    border: 1px solid rgba(12, 18, 28, 0.12);
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 100%;
    border-radius: 5px;
    padding-left: 3%;
}

.accepted-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*flex:1;*/
}

.accepted-content .accepted-details {
    width: 28%;
    /*    display: flex;
        position: relative;
        flex-wrap: wrap;
        flex: 1;*/
    background-color: #fff;
    float: right;
    margin-right: 1%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16);
    padding: 1% 2%;
    margin-top: -13%;
}

.accepted-details .details-accepted-title h3 {
    font-family: 'Questrial', sans-serif;

}


.accepted-details .details-accepted-title p {
    font-family: 'Questrial', sans-serif;
    color:#9D9D9D;
}

.accepted-details .details-accepted {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1;
}

.accepted-details .details-accepted p {
    font-family: 'Didact Gothic', sans-serif;
    padding: 0 0 2% 0;
    margin: 0;
}

.accepted-details .details-accepted span {
    background-color: #1d67b1;
    color: white;
    font-family: 'Didact Gothic', sans-serif;
    text-align: center;
    padding: 2% 3%;
    /*width: 80%;*/
    margin-top: 4%;
    margin-bottom: 5%;
}

#earnings {
    font-family: 'Didact Gothic', sans-serif;
    color: white;
    background-color: #ff2e40;
    padding: 0.5% 1%;
    float: right;
    margin-right: 4%;
    font-weight: bold;
    font-size: 110%;
    /*margin-top: auto;*/
}