/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 24, 2020, 8:20:02 AM
    Author     : Sashini Shihara
*/
body
{
    background-image: url("../../Resources/Img/uploadbg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}


fieldset
{
    background-color: whitesmoke;
    margin-left: 50%;
    margin-top: 4%;
    margin-bottom: 3%;
    padding: 12px;
    box-shadow: 4px 4px 5px #3268a8;
}


.detail
{
    margin-top: 5%;
    border: 2px solid;
    background-color: white;    
    width: 50%;
    height: 20em;
    margin-left: 45%;
}

.photo
{
    margin-top: 2%;
    border: 2px solid;
    background-color: white;    
    width: 70%;
    height:10em;
    margin-left: 8%;
}

input[type=button]
{
    margin-left: 1.5%;
    float:right;
    background-color: lightskyblue;
    border: 0.1px solid transparent; 
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

input[type=file]
{
    margin-left: 1%;
    float:right;
    background-color: lightskyblue;
    border: 0.1px solid transparent; 
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

p
{
    margin-left: 45%;
}

input[type=submit]
{
  display: inline-block;
  padding: 2% 4%;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #349e38;
  border: none;
  border-radius: 15px;
  margin-left:2%;
}

input[type=submit]:hover 
{
    background-color: #3e8e41
}

input[type=submit]:active 
{
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

label
{
     color: black;
    margin-left:2%;
    font-weight: bold;
}